<posh-header></posh-header>

<posh-slider></posh-slider>

<posh-main-products></posh-main-products>

<posh-shop-products></posh-shop-products>

<div class="columns">
  <div class="column">
    <section class="quote">
      <img width="670"
           src="/assets/images/yo-amo-posh.png"
           class="quote--text"
           alt="Yo amo Posh">
    </section>
  </div>
</div>

<posh-recommended></posh-recommended>

<posh-banner></posh-banner>

<posh-footer></posh-footer>
