<section class="columns is-gapless">
  <article class="column shop-product has-text-centered">
    <h4 class="shop-product--title shop-product--title__jeans">Jeans</h4>
    <img src="/assets/images/jeans-photo.jpg"
         alt="Jean photo"
         class="shop-product--photo">
    <button class="has-bg shop-product--button">Compra online</button>
  </article>

  <article class="column shop-product has-text-centered">
    <h4 class="shop-product--title shop-product--title__sweaters">Sweaters</h4>
    <img src="/assets/images/sweaters-photo.jpg"
         alt="Sweaters photo"
         class="shop-product--photo">
    <button class="has-bg shop-product--button">Compra online</button>
  </article>

  <article class="column shop-product has-text-centered">
    <h4 class="shop-product--title shop-product--title__polos">Polos</h4>
    <img src="/assets/images/polos-photo.jpg"
         alt="Polos photo"
         class="shop-product--photo">
    <button class="has-bg shop-product--button">Compra online</button>
  </article>
</section>
