@import 'utils/mixins';

.shop-product {
  padding: 0 5% !important;

  @include responsive('tablet-portrait') {
    margin-bottom: 7% !important;
  }

  &--title {
    background: url('/assets/images/title-bg-bottom.png') center bottom no-repeat,
    url('/assets/images/title-bg-top.png') right top no-repeat;
    color: #000;
    display: inline-block;
    font-size: 41px;
    margin: 0 auto;
    min-width: 190px;
    padding: 8px 21px 12px 5px;
    @include bold();
  }

  &--photo {
    display: block;
    margin: 10px auto;
  }

  &--button {
    background: url('/assets/images/compra-online.jpg');
    border: none;
    display: block;
    cursor: pointer;
    height: 48px;
    margin: 0 auto;
    width: 245px;
    background-size: 245px auto;
    background-repeat: no-repeat;
  }
}
