<header class="columns is-multiline is-gapless header">
  <div class="column is-12">
    <a href="#"
       class="header--logo">
      <img width="155"
           src="/assets/images/logo.png"
           alt="Lady Posh logo">
    </a>
  </div>

  <div class="column is-12">
    <section class="nav menu">
      <div class="nav-left">
        <button class="menu--link">
          <img src="/assets/images/ico-login.png"
               class="menu--ico">
          <b>Buscar</b>
        </button>
        <button class="menu--link">
          <img src="/assets/images/ico-wishlist.png"
               class="menu--ico">
          <b>Wishlist</b>
        </button>
      </div>

      <div class="nav-right">
        <button class="menu--link">
          <img src="/assets/images/ico-language.png"
               class="menu--ico">
          <b>ES / EN</b>
        </button>
        <button class="menu--link">
          <img src="/assets/images/ico-signin.png"
               class="menu--ico">
          <b>Sign in</b>
        </button>
        <button class="menu--link">
          <img src="/assets/images/ico-shop.png"
               class="menu--ico">
          <b>Carrito</b>
        </button>
      </div>
    </section>
  </div>

  <div class="column is-12">
    <nav class="main-nav has-text-centered">
      <a href="#"
         class="main-nav--link">New in</a>
      <a href="#"
         class="main-nav--link">Ropa</a>
      <a href="#"
         class="main-nav--link">Accesorios</a>
      <a href="#"
         class="main-nav--link">#doubleagentusa</a>
      <a href="#"
         class="main-nav--link">B2B</a>
    </nav>
  </div>
</header>
