@import 'utils/mixins';
@import 'vendor/utilities/_all.sass';
@import 'vendor/components/nav.sass';

.header {
  padding: 10px 17px 10px 17px;

  &--logo {
    display: block;
    margin: 0 auto;
    width: 155px;

    @include responsive('mobile-portrait') {
      width: 100px;
    }
  }
}

.menu {
  height: 40px;

  &--ico {
    display: block;
    margin: 0 auto 5px auto;
  }

  &--link {
    background: none;
    border: none;
    cursor: pointer;
  }
}

.main-nav {
  height: 20px;

  @include responsive('mobile-portrait') {
    height: auto;
    margin-top: 20px;
  }

  &--link {
    font-size: 13px;
    margin: 0 30px;
    transition: color 0.3s;
    @include bold();

    @include responsive('mobile-portrait') {
      width: 33%;
    }

    &:hover {
      color: gray;
    }
  }
}
