
*:focus 
  outline: none !important


a:link,
a:visited,
a:hover,
a:focus 
  text-decoration: none
  color: inherit


fieldset 
  border: none


input[type="text"], input[type="tel"] 
  height: 54px
  font-size: 1.4rem
  padding: 10px 15px
  color: $aep-gray
  background-color: $aep-light-gray
  border: none
