<div class="columns is-gapless">
  <section class="column slider">
    <div class="slider recommended-slider">
      <h4 class="has-text-centered recommended-slider--title">Recomendados</h4>

      <div class="frame js_frame"
           id="slider-container">
        <ul class="slides js_slides">
          <li class="js_slide recommended-slider--slide">
            <img src="/assets/images/recomendados-1.jpg"
                 class="recommended-slider--photo"
                 alt="">
          </li>
          <!--<li class="js_slide recommended-slider&#45;&#45;slide">-->
            <!--<img src="/assets/images/recomendados-1.jpg"-->
                 <!--class="recommended-slider&#45;&#45;photo"-->
                 <!--alt="">-->
          <!--</li>-->
          <!--<li class="js_slide recommended-slider&#45;&#45;slide">-->
            <!--<img src="/assets/images/recomendados-1.jpg"-->
                 <!--class="recommended-slider&#45;&#45;photo"-->
                 <!--alt="">-->
          <!--</li>-->
          <!--<li class="js_slide recommended-slider&#45;&#45;slide">-->
            <!--<img src="/assets/images/recomendados-1.jpg"-->
                 <!--class="recommended-slider&#45;&#45;photo"-->
                 <!--alt="">-->
          <!--</li>-->
        </ul>
      </div>
    </div>
  </section>
</div>
