@import 'vendor/utilities/_all.sass';
@import 'utils/mixins';

.slider {
  width: 100%;
  margin-bottom: 50px;
}

.recommended-slider {
  background: url("/assets/images/recommended-bg-left.png") -25% top no-repeat,
              url("/assets/images/recommended-bg-right.png") 125% top no-repeat;
  position: relative;
  padding-bottom: 115px;

  @include responsive(1280px) {
    background: url("/assets/images/recommended-bg-left.png") -45% top no-repeat,
                url("/assets/images/recommended-bg-right.png") 145% top no-repeat;
  }
  @include responsive(1140px) {
    background: url("/assets/images/recommended-bg-left.png") -65% top no-repeat,
                url("/assets/images/recommended-bg-right.png") 165% top no-repeat;
  }
  @include responsive('tablet-landscape') {
    background: url("/assets/images/recommended-bg-left.png") -80% top no-repeat,
                url("/assets/images/recommended-bg-right.png") 180% top no-repeat;
  }
  @include responsive('tablet-portrait') {
    background: none;
  }

  &--button {
    bottom: 10%;
    cursor: pointer;
    left: 50%;
    position: absolute;
    width: 400px;
    z-index: 2;
    background: none;
    border: none;
    margin-left: -200px;

    img {
      width: 100%;
    }
  }
  &--photo {
    width: 100vw;
  }
  .js_prev {
    background: url('/assets/images/left-arrow.png');
    height: 50px;
    width: 35px;
  }
  .js_next {
    background: url('/assets/images/right-arrow.png');
    height: 50px;
    width: 35px;
  }
  &--title {
    background: url('/assets/images/title-bg-bottom.png') center bottom no-repeat,
                url('/assets/images/title-bg-top.png') right top no-repeat;
    color: #000;
    font-size: 40px;
    margin: 0 auto 135px auto;
    max-width: 370px;
    padding-bottom: 30px;
    @include bold();
  }
}
