<div class="columns">
  <div class="column is-12">
    <section class="columns is-gapless banner">
      <div class="column is-7">
        <img src="/assets/images/banner.png"
             class="banner--image"
             alt="Se parte de nuestra web, sube tu foto">
      </div>
      <div class="column is-5 has-text-centered">
        <div class="display-table">
          <div class="display-table-cell">
            <h5 class="banner--subtitle">Sé parte de nuestra web</h5>

            <div class="banner--button-container">
              <img src="/assets/images/banner-bg-2.png"
                   class="banner--bg-2">
              <button class="banner--button">Sube tu foto</button>
              <img src="/assets/images/banner-bg-2.png"
                   class="banner--bg-2">
            </div>

            <h5 class="banner--subtitle">
              en nuestro reino <img width="60"
                                    class="has-bg banner--posh"
                                    src="/assets/images/posh.png" />
            </h5>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
