@import 'utils/mixins';

.banner {
  width: 100%;
  position: relative;
  background: url('/assets/images/banner-bg-1.png') top right no-repeat;

  .display-table {
    min-height: 400px;
  }
  &--image {
    float: left;
  }
  &--button {
    background-image: url('/assets/images/sube-tu-foto-bg.png');
    background-color: transparent;
    background-size: 100% 100%;
    border: none;
    color: #fff;
    cursor: pointer;
    font-size: 42px;
    height: 100px;
    margin: 10px 0;
    padding-left: 28px;
    width: 370px;
    @include bold();
  }
  &--buton-container {
    margin: 40px 0;
  }
  &--bg-2 {
    display: block;
    margin: 0 auto;
  }
  .hero {
    min-height: 100%;
  }
  &--subtitle {
    font-size: 35px;
    @include bold();
  }
}
