.display-table
  @include display-table()


.display-table-cell
  @include display-table-cell()


.font-bold
  @include bold()


.font-regular
  @include regular()


.clearfix
  @include clearfix()


.big-center
  @include centers(1600px)


.center
  @include centers(1440px)


.small-center
  @include centers(1024px)


.ico,
.fa
  display: inline-block


// Text properties

.text-small
  font-size: 1.3rem

.full-width
  width: 100%

.text-center
  display: block
  text-align: center !important

.text-uppercase
  text-transform: uppercase

.text-lowercase
  text-transform: lowercase

.text-capitalize
  text-transform: capitalize

.red-link, .red-link:link, .red-link:visited, .red-link:hover
  color: $aep-red
  text-decoration: none


// Color Helpers

.aep-white
  color: $aep-white !important

.aep-light-gray
  color: $aep-light-gray !important

.aep-gray
  color: $aep-gray !important

.aep-black
  color: $aep-black !important

.aep-red
  color: $aep-red !important

