/// Keep an element alone horizontally
@mixin clearfix() {
  &:before,
  &:after {
    content: '';
    display: table;
  }

  &:after {
    clear: both;
  }
}

@mixin squareBlock() {
  background: #fff;
  border: 1px solid $aep-gray;
  border-radius: 5px;
  padding: $space;
  @include prefix((
          box-shadow: 0 0 7.5px 0.5px rgba(0, 0, 0, 0.2)
  ));
}

/// Centers horizontally
@mixin centers($size) {
  margin: 0 auto;
  display: block;
  clear: both;
  width: 100%;
  height: inherit;
  max-width: $size;
}

/// First parent class to vertical align an element. Add it to a div and set a fixed height
@mixin display-table() {
  display: table;
  height: 100%;
  margin: 0 auto;
}

/// Second parent class to vertical align an element. Add it to a div inside .display-table, and inside goes the element to align
@mixin display-table-cell() {
  display: table-cell;
  vertical-align: middle;
}


/// Add all prefixes needed to the property you set
@mixin prefix($declarations, $prefixes: (moz webkit ms o)) {
  @each $property, $value in $declarations {
    @each $prefix in $prefixes {
      #{'-' + $prefix + '-' + $property}: $value;
    }

    // Output standard non-prefixed declaration
    #{$property}: $value;
  }
}


/**
 * Responsive mixins
 */

$computerBig    : 1920px;
$computer       : 1280px;
$tabletPortrait : 801px;
$mobilePortrait : 415px;
$mobileLandscape: 736px;
$iphone         : 320px;

@mixin responsive($media) {
  @if $media == big-computer {
    @media only screen and (min-width: $computerBig) { @content; }
  }
  @else if $media == computer {
    @media only screen and (min-width: $computer) { @content; }
  }
  @else if $media == only-computer-small {
    @media only screen and (min-width: 960px) and (max-width: 1600px) { @content; }
  }
  @else if $media == from-tablet-landscape-to-computer {
    @media only screen and (min-width: 960px) { @content; }
  }
  @else if $media == tablet-landscape and (orientation: landscape) {
    @media only screen and (max-width: $computer - 1) { @content; }
  }
  @else if $media == tablet-portrait {
    @media only screen and (max-width: $tabletPortrait) { @content; }
  }
  @else if $media == only-tablet {
    @media only screen and (min-width: 600px) and (max-width: $computer - 1) and (min-height: 430px) { @content; }
  }
  @else if $media == only-mobile {
    @media only screen and (max-width: 740px) and (max-height: 740px) { @content; }
  }
  @else if $media == mobile-landscape {
    @media only screen and (max-width: $tabletPortrait) and (max-height: $mobilePortrait) and (orientation: landscape) { @content; }
  }
  @else if $media == mobile-portrait {
    @media only screen and (max-width: $mobilePortrait) { @content; }
  }
  @else if $media == mobile-small {
    @media only screen and (max-width: $iphone) { @content; }
  }
  @else if $media == mobile-small-landscape {
    @media only screen and (max-width: $tabletPortrait) and (max-height: $iphone) and (orientation: landscape) { @content; }
  }
  @else {
    @media only screen and (max-width: $media) { @content; }
  }
}


/**
 * Font weight
 */
//@mixin light() {
//  font-family: Helvetica, Arial, sans-serif;
//}
@mixin regular() {
  font-family: 'Rubrik-Medium', Helvetica, Arial, sans-serif;
}
@mixin bold() {
  font-family: 'Rubrik-SemiBold', Helvetica, Arial, sans-serif;
}


