<div class="columns is-gapless">
  <section class="column slider">
    <div class="slider main-slider">
      <button class="main-slider--button">
        <img src="/assets/images/compra-online.png">
      </button>

      <div class="frame js_frame"
           id="slider-container">
        <ul class="slides js_slides">
          <li class="js_slide main-slider--slide">
            <img src="/assets/images/slide-3.jpg"
                 class="main-slider--photo"
                 alt="">
          </li>
          <li class="js_slide main-slider--slide">
            <img src="/assets/images/slide-4.jpg"
                 class="main-slider--photo"
                 alt="">
          </li>
          <li class="js_slide main-slider--slide">
            <img src="/assets/images/slide-5.jpg"
                 class="main-slider--photo"
                 alt="">
          </li>
          <li class="js_slide main-slider--slide">
            <img src="/assets/images/slide-6.jpg"
                 class="main-slider--photo"
                 alt="">
          </li>
        </ul>
      </div>
      <span class="js_prev prev has-bg"><</span>
      <span class="js_next next has-bg"></span>
    </div>
  </section>
</div>
