@import 'vendor/utilities/_all.sass';
@import 'utils/mixins';

.slider {
  width: 100%;
  margin-bottom: 50px;
}

.main-slider {
  position: relative;

  @include responsive('mobile-portrait') {
    margin-bottom: 130px;
  }

  &--button {
    bottom: 10%;
    cursor: pointer;
    left: 50%;
    position: absolute;
    width: 400px;
    z-index: 2;
    background: none;
    border: none;
    margin-left: -200px;

    @include responsive('mobile-portrait') {
      bottom: -90px;
    }

    img {
      width: 100%;
    }
  }
  &--photo {
    width: 100vw;
  }
  .js_prev {
    background: url('/assets/images/left-arrow.png');
    height: 50px;
    width: 35px;

    @include responsive('mobile-portrait') {
      display: none;
    }
  }
  .js_next {
    background: url('/assets/images/right-arrow.png');
    height: 50px;
    width: 35px;

    @include responsive('mobile-portrait') {
      display: none;
    }
  }
}
