<section class="columns is-gapless products">
  <div class="products--element products--element__first">
    <span class="hashtag"></span>
    <a href="#"
       class="has-bg products--link">Ir a</a>
    <img src="/assets/images/photo-1.png"
         class="products--photo">
  </div>
  <div class="products--element products--element__second">
    <span class="hashtag"></span>
    <a href="#"
       class="has-bg products--link">Ir a</a>
    <img src="/assets/images/photo-2.png"
         class="products--photo">
  </div>
  <div class="products--element products--element__third">
    <span class="hashtag"></span>
    <a href="#"
       class="has-bg products--link">Ir a</a>
    <img src="/assets/images/photo-3.png"
         class="products--photo">
  </div>
</section>
