@import 'vendor/utilities/_all.sass';
@import 'utils/mixins';

.products {
  padding: 0 50px;
  min-height: 500px;
  margin: 65px 0 80px 0 !important;
  position: relative;

  @include responsive('tablet-landscape') {
    display: block;
  }

  .hashtag {
    background: url('/assets/images/hashtag.png');
    background-size: 288px 66px;
    width: 288px;
    height: 66px;
    position: absolute;
    z-index: 4;
  }

  &--link {
    background: url('/assets/images/ir-a.png');
    background-size: 50px 30px;
    cursor: pointer;
    height: 30px;
    position: absolute;
    width: 50px;
    z-index: 3;
    overflow: hidden;
    text-indent: -8000px;
  }

  &--element {
    position: absolute;
    background-repeat: no-repeat;

    @include responsive('tablet-landscape') {
      position: relative;
      display: block;
      margin: 7% auto !important;
      right: auto !important;
      left: auto !important;
      top: auto !important;
      bottom: auto !important;
    }

    @include responsive('mobile-portrait') {
      background: none !important;
      margin-bottom: 70px !important;

      * {
        position: relative;
        transform: none !important;
        left: auto !important;
        right: auto !important;
        top: auto !important;
        bottom: auto !important;
        //position: relative !important;
      }
      img {
        height: auto !important;
      }
      .products--link {
        display: block;
        margin: 0 auto;
        width: 100%;
        background-repeat: no-repeat;
        position: absolute;
        bottom: -20px !important;
      }
      .hashtag {
        position: relative;
        display: block;
      }
    }

    &__first {
      background: url('/assets/images/main-bg-1.png');
      background-size: 470px 500px;
      left: 5%;
      top: 0;
      height: 500px;
      width: 470px;
      z-index: 3;

      @include responsive('mobile-portrait') {
        width: auto;
        height: auto;
      }

        .products--link {
        bottom: 25px;
        left: 48px;
        @include prefix((
          transform: rotate(-4deg)
        ));
      }

      .hashtag {
        left: 91px;
        bottom: 96px;
        @include prefix((
          transform: rotate(-3deg)
        ));
      }
      img {
        width: 350px;
        height: 330px;
        @include prefix((
          transform: rotate(-4deg)
        ));
        left: 55px;
        top: 44px;
      }
    }
    &__second {
      left: 50%;
      top: 0;
      margin-left: -210px;
      background: url('/assets/images/main-bg-2.png');
      background-size: 470px 500px;
      height: 500px;
      width: 470px;
      z-index: 2;

      @include responsive('mobile-portrait') {
        width: auto;
        height: auto;
      }
      .products--link {
        bottom: 40px;
        left: 75px;
      }
      .hashtag {
        left: 90px;
        top: 51px;
      }
      img {
        width: 360px;
        height: 330px;
        left: 57px;
        top: 44px;
      }
    }
    &__third {
      right: 5%;
      top: 0;
      background: url('/assets/images/main-bg-3.png');
      background-size: 470px 500px;
      height: 500px;
      width: 470px;

      @include responsive('mobile-portrait') {
        width: auto;
        height: auto;
      }
      .products--link {
        bottom: 55px;
        left: 126px;
        z-index: 1;
        @include prefix((
          transform: rotate(6deg)
        ));
      }
      .hashtag {
        left: 125px;
        top: 55px;
        @include prefix((
          transform: rotate(7deg)
        ));
        z-index: 1;
      }
      img {
        width: 360px;
        height: 330px;
        @include prefix((
          transform: rotate(5deg)
        ));
        left: 50px;
        top: 44px;
      }
    }

  }
  &--photo {
    left: 0;
    position: absolute;
    top: 0;
  }

}
