/* You can add global styles to this file, and also import other style files */
@import 'vendor/utilities/_all.sass';
@import 'utils/mixins';
@import 'vendor/lory';


@font-face {
  font-family: 'Rubrik-Medium';
  src: url('/assets/fonts/Rubrik-Medium.eot?#iefix') format('embedded-opentype'),
  url('/assets/fonts/Rubrik-Medium.woff') format('woff'),
  url('/assets/fonts/Rubrik-Medium.ttf')  format('truetype'),
  url('/assets/fonts/Rubrik-Medium.svg#Rubrik-Medium') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Rubrik-SemiBold';
  src: url('/assets/fonts/Rubrik-SemiBold.eot?#iefix') format('embedded-opentype'),
  url('/assets/fonts/Rubrik-SemiBold.woff') format('woff'),
  url('/assets/fonts/Rubrik-SemiBold.ttf')  format('truetype'),
  url('/assets/fonts/Rubrik-SemiBold.svg#Rubrik-SemiBold') format('svg');
  font-weight: normal;
  font-style: normal;
}


html {
  height: 100%;
  overflow-y: auto !important;
}
body {
  min-height: 100%;
}

.has-bg {
  text-indent: -8000px;
  overflow: hidden;
}
.posh-btn {
  background: #fff;
  border: 1px solid gray;
  border-radius: 0;
  color: #000;
  cursor: pointer;
  padding: 10px;
  text-transform: uppercase;
  transition: all 0.3s;

  &:hover {
    background: #000;
    color: #fff;
  }
}
