<div class="columns">
  <div class="column is-4 is-offset-4">
    <footer class="footer">
      <h6 class="has-text-centered footer--title">
        ENTÉRATE DE NUESTRAS NOVEDADES
      </h6>

      <form #newsLetter="ngForm"
            class="footer--form">
        <input type="text"
               class="footer--input"
               name="email"
               id="email"
               placeholder="Email">
        <label for="email"
               class="has-text-centered footer--label">
          <input type="checkbox">
          <i>Confirmo que he leído y entendido las</i> <u>Políticas de privacidad</u>
        </label>

        <button type="submit"
                class="posh-btn footer--button">SUSCRIBIRSE</button>
      </form>
    </footer>
  </div>
</div>
