@import 'utils/mixins';

.footer {
  background: none;
  height: 320px;
  padding-bottom: 0;

  &--title {
    font-size: 14px;
    @include bold();
  }
  &--input {
    background: none;
    border-bottom: 1px dashed #000;
    display: block;
    font-size: 15px;
    font-style: italic;
    margin: 0 auto 5px auto;
    padding-bottom: 0;
    text-align: center;
    width: 80%;
  }
  &--label {
    color: #000;
    display: block;
    clear: both;
    font-size: 12px;
  }
  &--button {
    display: block;
    margin: 10px auto 0 auto;
  }
}
